<header id="header" style="background-color:#0076FF">
            <ul class="header-inner">
                <li class="logo" ng-show="screensize <= 749" style="padding: 8px 0 !important;  letter-spacing:0.002em !important;">
                    <a href="/"><font size="3px"><b>DALY HALL</b></font></a>
                </li>
                <li class="logo" ng-show="screensize >= 750">
                    <a href="/"><font size="5px"><b>DALY HALL</b></font></a>
                </li>
                
                <li class="pull-right">
                <ul class="top-menu">                   
                    <li id="top-search">
                       <a style="background-image: url('/img/icons/search.png');"></a>
                    </li>
                </ul>
                </li>
               
                <li class="pull-right">
                <ul class="top-menu">
                   <a href="#/profile"> <img class="lv-avatar" src="img/profile-pics/128 (9).jpg" alt=""><span class="hidden-xs"><font color="white">Deeraj Kumar</font></span> </a>
                </ul>                             
                </li> 
             <!--   <li class="dropdown">
                <a item-toggle="dropdown" class="tm-settings" href="#"></a>
                <ul class="dropdown-menu dm-icon pull-right"></ul>
                </li>  -->
             </ul>                  
            
            <!-- Top Search Content -->
            <div id="top-search-wrap" style="background-color:#0076FF">
                <input type="text">
                <i id="top-search-close">&times;</i>
            </div>
        </header>            
         
         <section id="content">
            <div class="container">             
                <div class="row">
           
                    <div class="col-sm-3">
                        <div>
                            <div class="card">
                              <img ng-src="{{data.img}}" class="w3-round-large" style="height:150px;width:100%">
                              <div class="w3-container">
                               <h4><b>&nbsp;&nbsp; {{data.name}}</b></h4>
                                    <p>&nbsp;&nbsp;  {{data.quiz}}</p>
                                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                  <div class="btn-group" role="group">
                                    <a style="background-color:#0076FF" class="btn btn-primary"><b>{{data.rupee}}</b></a>
                                   
                                  </div>
                                </div> 
                              </div>                                                       
                            </div> 
                        
                   </div>
                    
                    </div>
                     <div class="col-sm-9">
                            <div class="card" style="padding:12px!important;">                                               
                       <div class="card-body table-responsive">
                           <br><br>
                        <center>
                       
                            <div>
                           <p ng-style="screensize <= 749 && {'width': '100%'} || screensize >= 750 && {'width': '10%'}"><font size="4px" color="black"><h2><b>This is a Paid Quiz Contest.</b></h2><br>Once you complete the payment,<br> you will be provided a unique URL to play the quiz.<br><br><br>Play the quiz and score the<br> maximum points to get a chance to win the prize</font><br><br>
                           <font size="4px" color="gray"><br>You will be redirected to a page in<br> Paytm to pay Rs 10/- for this quiz</font></p>
                            <br>
                            <a class="btn btn-primary" style="background-color:#0076FF !important;" href="#/proceed/{{quizname}}">Pay with Paytm</a><br><br><br><br>
                          <!--  <a href="/" style="color:gray;">Go to Daly Hall Home</a>
                            <br><br><br><br><br><br><br>-->
                            </div>
                        </center>
                        </div>
                       </div>   
                     </div>
                   </div>
                 </div>
            </section>